doctype
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href='/stylesheets/style.css')
  body
    #label.header !{title}
    #mainblock.content
      - each item in resp.items
        #postwrapper.postwrapper
          #post.post
            if (item.type == 'post')
              div.posttext !{item.text}
              if (item.attachments)
                - each attachment in item.attachments
                  if (attachment.type == 'photo')
                    a(href=attachment.photo.src_big)
                      img(src=attachment.photo.src_big).post_image
                  else if (attachment.type == 'doc')
                    if (attachment.doc.ext == 'gif')
                      a(href=attachment.doc.url)
                        img(src=attachment.doc.url).post_image
            else if (item.type == 'wall_photo' || item.type == 'photo')
              - each photo in item.photos
                a(href=photo.src_big)
                  img(src=photo.src_big).post_image
            else
              div.stub= item.type
              
